# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Problems/Boys in a sport class/out/
/Problems/Boys in a sport class/out/production/classes/
/Problems/Check burgs/out/
/Problems/Check burgs/out/production/classes/
/Problems/Check prefix ignoring the case/out/
/Problems/Check prefix ignoring the case/out/production/classes/
/Problems/Chocolate/out/
/Problems/Chocolate/out/production/classes/
/Problems/Decrement all/out/
/Problems/Decrement all/out/production/classes/
/Problems/Desks/out/
/Problems/Desks/out/production/classes/
/Problems/Difference of times/out/
/Problems/Difference of times/out/production/classes/
/Problems/Extracting a substring/out/
/Problems/Extracting a substring/out/production/classes/
/Problems/Good rest on vacation/out/
/Problems/Good rest on vacation/out/production/classes/
/Problems/Grades/out/
/Problems/Grades/out/production/classes/
/Problems/Groundhogs at a party/out/
/Problems/Groundhogs at a party/out/production/classes/
/Problems/Is between/out/
/Problems/Is between/out/production/classes/
/Problems/Queens/out/
/Problems/Queens/out/production/classes/
/Problems/Reversing input numbers/out/
/Problems/Reversing input numbers/out/production/classes/
/Problems/Robot control/out/
/Problems/Robot control/out/production/classes/
/Problems/Snail/out/
/Problems/Snail/out/production/classes/
/Problems/The number of tens/out/
/Problems/The number of tens/out/production/classes/
/Problems/The smallest value/out/
/Problems/The smallest value/out/production/classes/